# This file is part of endian-ci, a simple sanity check of portable-endian.h
# Copyright 2016 Ben Wiederhake
# License: MIT, see LICENSE

[submodule "portable-endian"]
	path = portable-endian
	url = https://github.com/BenWiederhake/portable-endian.git
